@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import "./choices.css";
@import "./rules.css";
@import "./results.css";
@import "./score.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed";
}

#app {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgba(31,56,87,1) 0%, rgba(21,25,60,1) 100%) no-repeat;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.btn-rules {
  padding: .6rem 2rem .5rem;
  border: #ffffff92 solid 2px;
  border-radius: 8px;
  background-color: unset;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 478px) {
  #app {
    justify-content: unset;
    gap: 25%;
  }

  .btn-rules {
    position: absolute;
    right: 1rem;
    bottom: 1.5rem;
  }
}
