@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/static/PlusJakartaSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('../assets/fonts/static/PlusJakartaSans-Bold.ttf');
    font-weight: 700;
}

:root {
    --red: #d73328;
    --lime: #d7da2f;
    --white: #fff;
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%); 
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
}

.calculator {
    display: flex;
    flex-direction: column;
}

.form-side {
    padding: 1.25rem 1.5rem 1.85rem;
}

.title {
    margin: .5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .65rem;

    & h1 {
        font-size: 1.5rem;
        color: var(--slate-900);
    }

    & button {
        border: none;
        font-size: 1rem;
        background-color: transparent;
        color: var(--slate-700);
        border-bottom: solid 1px var(--slate-700);

        &:hover {
            cursor: pointer;
        }
    }
}

form, .term-interest-container {
    color: var(--slate-700);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form > div, .term-interest-container > div {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.input-box {
    height: 3rem;
    border-radius: .35rem;
    border: solid 1px var(--slate-500);
    overflow: hidden;
}

.input-box input {
    height: 100%;
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.field {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    width: 80%;
    padding-left: .75rem;
}

.amount-field .field {
    justify-content: flex-start;
}

.type-field {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.amount-field div {
    display: flex;
}

.amount-field div::before, 
.term-field div::after, 
.interest-field div::after
 {
    font-size: 1.15rem;
    color: var(--slate-700);
    padding: 0 1rem;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-100);
    font-weight: 700;
}

.amount-field div::before {
    content: "£";
}

.term-field div::after {
    content: "years";
}

.interest-field div::after {
    content: "%";
}

.radio-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    font-weight: 700;
    color: var(--slate-900);
}

.type-field label {
    width: 100%;
}

form button {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    background-color: var(--lime);
    border: none;
    border-radius: 2rem;
    font-weight: 700;
    color: var(--slate-900);
    font-size: 1rem;
}

/* result-side */

.result-side {
    background-color: var(--slate-900);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 2.25rem;
    gap: 1rem;

    & img {
        max-width: 15rem;
    }

    & div {
        max-width: 19rem;
        text-align: center;

        p {
            color: var(--slate-300);
            margin-top: 1rem;
        }
    }
}

