@import url(fonts.css);
@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans";
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    background-color: var(--slate-100);

    @media screen and (min-width:768px) {
        position: fixed; 
        bottom: 0; 
        width: 100%;
    }

}

.attribution a { 
    color: var(--slate-700); 
}


main {
    height: 100%;
    width: 100%;

    @media screen and (min-width:420px) {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--slate-100);
        padding: 2rem 0;
    }

    @media screen and (min-width:768px) {
        height: 100vh;
    }

}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: var(--white);

    @media screen and (min-width:420px) {
        border-radius: 25px;
        width: 90%;
        max-width: 30rem;
    }

    @media screen and (min-width:768px) {
        max-width: 60rem;
        flex-direction: row;
    }

}

.form-side {
    padding: 1.25rem 1.5rem 1.85rem;

    @media screen and (min-width:768px) {
        width: 50%;
    }

    @media screen and (min-width:920px) {
        padding: 1.5rem 2.25rem 2.25rem;
    }

}

.title {
    margin: .5rem 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .65rem;

    & h1 {
        font-size: 1.5rem;
        color: var(--slate-900);
    }

    & button {
        border: none;
        font-size: 1rem;
        background-color: transparent;
        color: var(--slate-700);
        border-bottom: solid 1px var(--slate-700);
        margin-top: 3px;

        &:hover {
            cursor: pointer;
        }
    }

    @media screen and (min-width:768px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 1rem;
    }
}

form, .term-interest-container {
    color: var(--slate-700);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form > div, .term-interest-container > div {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.input-box {
    height: 3rem;
    border-radius: .35rem;
    border: solid 1px var(--slate-500);
    overflow: hidden;
}

.input-box input {
    height: 100%;
    border: none;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.field {
    display: flex;
    justify-content: space-between;
}

input[type="number"] {
    width: 80%;
    padding-left: .75rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--slate-900);
}

.amount-field .field {
    justify-content: flex-start;
}

.type-field {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.amount-field div {
    display: flex;
}

.amount-field div::before, 
.term-field div::after, 
.interest-field div::after
 {
    font-size: 1.15rem;
    color: var(--slate-700);
    padding: 0 1rem;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-100);
    font-weight: 700;
}

.amount-field div::before {
    content: "£";
}

.term-field div::after {
    content: "years";
}

.interest-field div::after {
    content: "%";
}

.radio-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    font-weight: 700;
    color: var(--slate-900);
}

.type-field label {
    width: 100%;
}

form button {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75rem;
    background-color: var(--lime);
    border: none;
    border-radius: 2rem;
    font-weight: 700;
    color: var(--slate-900);
    font-size: 1rem;

    @media screen and (min-width:768px) {
        width: 18rem;
        height: 3.25rem;
        margin-top: .5rem;
    }
}

/* result-side */

.result-side {
    background-color: var(--slate-900);
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 2.25rem;
    gap: 1rem;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            max-width: 15rem;
        }
    }

    .information-text {
        font-size: .95rem;
        max-width: 19rem;
        text-align: center;

        p {
            color: var(--slate-300);
            margin-top: 1rem;
        }
    }

    @media screen and (min-width:420px) {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }

    @media screen and (min-width:768px) {
        width: 50%;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 5rem;

        .information-text {
            max-width: 25rem;
        }
    }
}

.term-interest-container {
    @media screen and (min-width:768px) {
        flex-direction: row;
    }
}
