:root {
    --red: #d73328;
    --lime: #d7da2f;
    --white: #fff;
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%); 
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
    --slate-1200: hsl(200, 68%, 9%);
    --lime-opacity-5: #d7da2faa; 
}